<section class="testimonials">
    <div class="container">
        <div class="tm_row">
            <div class="tm_col">
                <div class="tm_left_text">
                  <small>{{ section.settings.tm_small_heading }}</small>
                  <h2>{{ section.settings.tm_main_heading }}</h2>
                </div>
            </div>
            <div class="tm_col slider">
                  {% for block in section.blocks %}
                    	<span class="pagingInfo"></span>
                    <div class="tm_slider">
                        <div class="tm_dp">
                            <img src="{{ block.settings.tm_dp | img_url:'master'}}">
                            <big>{{ block.settings.dev-int }}</big>
                        </div>
                        <div class="tm_text">
                            <p>{{ block.settings.tm_desc }}</p>
                            <h3>{{ block.settings.name }}</h3>
                            <h5>{{ block.settings.designation }}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Testimonial_sec",
    "class": "testimonial_sec",
    "settings": [
        {
          "type":"text",
          "id":"tm_small_heading",
          "label":"Small Heading"
        },
        {
          "type":"text",
          "id":"tm_main_heading",
          "label":"Main Heading"
        }
    ],
     "blocks": [
    {
      "name": "tm_column",
      "type":"tm_column",
      "settings": [
         {
          "type":"image_picker",
          "id":"tm_dp",
          "label":"DP Image"
        },
         {
          "type":"text",
          "id":"dev-int",
          "label":"Intro Name"
        },
        {
          "type":"richtext",
          "id":"tm_desc",
          "label":"Description"
        },
        {
          "type":"text",
          "id":"name",
          "label":"TM Name"
        },
        {
          "type":"text",
          "id":"designation",
          "label":"Designation"
        }
        
      ]
    }
  ],
  "presets":[
    { "name":"Testimonial"}
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}