<section class="work_section">
        <div class="main_heading">
            <h3>{{ section.settings.main_heading }}</h3>
        </div>
        <div class="container work">
            <div class="work_row">
               {% for block in section.blocks %}
                <div class="work_col">
                    <div class="work_detali">
                        <div class="work_text">
                            <div class="work_logo">
                                 <img src="{{ block.settings.work_logo | file_url}}">
                            </div>
                            <h4>{{ block.settings.work_heading }}</h4>
                            <p>{{ block.settings.work_desc }}</p>
                        </div>
                        <div class="work_img">
                             <img src="{{ block.settings.work_img | img_url:'master'}}" alt="">
                        </div>
                    </div>
                </div>
              {% endfor %}
            </div>      
        </div>
</section>
{% schema %}
  {
    "name": "Our Work",
    "class": "our_work_sec",
    "settings": [
         {
                "type":"text",
                "id":"main_heading",
                "label":"Main Heading"
         }
    ],
     "blocks": [
      {
        "name": "our_column",
        "type":"column",
        "settings": [
           {
            "type":"text",
            "id":"work_logo",
            "label":"Work Logo"
          },
          {
            "type":"text",
            "id":"work_heading",
            "label":"Work Heading"
          },
          {
            "type":"richtext",
            "id":"work_desc",
            "label":"Work Description"
          },
           {
            "type":"image_picker",
            "id":"work_img",
            "label":"Work Image"
          }
        ]
      }
    ],
    "presets":[
      { "name":"Work Section"}
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}